.checked {
    color: orange;
}

.profile-pic {
    position: relative;
    display: inline-block;
}

    .profile-pic:hover .edit {
        display: block;
    }

.edit {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 12%;
    top: 0;
    display: none;
    cursor: pointer;
}

    .edit a {
        color: #000;
    }